/.bundle/
/pkg/

/test/tmp/**

# Ignore coverage
/coverage

# Allows RSpec to persist some state between runs in order to support
# the `--only-failures` and `--next-failure` CLI options. We recommend
# you configure your source control system to ignore this file.
/spec/examples.txt
